*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 12px;
}
body{
  background: #ffffff;
}
.header{
  height:10vh;
  width:100%;
  position: fixed;
  z-index: 2;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.header .leftHeader{
  width:80%;
  height: 100%;
  background: #FFFFFF;
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.header .rightHeader{
  width:20%;
  height: 100%;
  background: #000000;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.header .rightHeader .headerMenu{
  height: 26px;
  width: 26px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .headerMenu i{
  position: relative;
  height:3px;
  width:100%;
  background: #FFFFFF;
  margin-bottom: 5px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.nav{
  width:100%;
  background: #000000;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -ms-transition: top 0.5s;
  -o-transition: top 0.5s;
  transition: top 0.5s;
  position: fixed;
  top:-500px;
  z-index: 1;
}
.nav ul li{
  color: #FFFFFF;
  margin: 5px;
  padding: 15px;
  text-align: center;
  font-size: 1.5rem;
}
.main{
  position: relative;
  top: 10vh;
  height:90vh;
  overflow: scroll;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
